       <div class="page-header navbar-light bg-blue-lt bordered">
           <div class="row align-items-center">
               <div class="col">
                   <div class="page-pretitle">
                       Virtual OneFS Manager
                   </div>
                   <h2 class="page-title" style="color:black">
                       Virtual OneFS Manager
                   </h2>
               </div>
               <div class="col-auto ms-auto">
               </div>
           </div>
           <div>
           </div>
       </div>