{% include "header.html" %}
{% include "banner.html" %}
<script>
    setTimeout(function() {
      location.reload();
    }, 10000); // 10000 milliseconds = 10 seconds
  </script>
  
<div class="container">
    <div class="row">
        <div class="col w-75 p-3">
            Welcome to the Virtual OneFS Manager</p>
            </p>
            Click the button to start or stop the version of OneFS required.</p></p>

            Protip: Middle mouse click multiple to start or stop multiple versions of OneFS.
            <div class="container mt-4">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>VM Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for name in index %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>
                                {% if vms[name]['state'] == "poweredOn" %}
                                <a href="/stop/{{name}}" class="btn btn-danger">Stop</a>
                                <a href="https://{{ simulators[name]['address'] }}:8080" target="_blank" class="btn btn-primary" style="margin-left: 8px;">WebUI</a>
                                {% else %}
                                <a href="/start/{{name}}" class="btn btn-success">Start</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            </ul>
        </div>

        <div class="col w-75 p-3">
        </div>
    </div>
</div>
{% include "footer.html" %}
