   {% include "header.html" %}
   {% include "banner.html" %}
   <div class="container">
       <div class="row">
           <div class="col w-75 p-3">
               Welcome to the Virtual OneFS Manager</p>
               </p>
               <table>
                {% for vm in vms %}
               <tr><td>{{ vm.name }}</td><td>{%if vm.runtime.powerState == "poweredOn"%} <a href="/stop/{{vm.name}}">Stop</a> {%else%} <a href="/start/{{vm.name}}">Start</a> {%endif%}</td></tr>
               {%endfor%}
               </table>
            
            </ul>
           </div>

            <div class="col w-75 p-3">
            </div>
       </div>
   </div>
   {% include "footer.html" %}