<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Wait</title>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const name = "{{ name }}"; 
        function checkServerState() {
            fetch(`/status/${name}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Checking server state...");
                    if (data.state === "poweredOn") {
                        console.log("Redirecting as server is powered on.");
                        window.location.href = "/";
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        setInterval(checkServerState, 1000);
    });
    </script>
</head>
<body>
    <p id="countdown">A hoard of monkeys ran off to try to push start your virtual machine.</p> <p>Please wait for the monkeys to return.</p>
    <img src="http://localhost/start-stop.gif" ></img>
</body>
</html>