<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Wait</title>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const name = "{{ name }}"; 
        function checkServerState() {
            fetch(`/status/${name}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Checking server state...");
                    if (data.state === "suspended") {
                        console.log("Redirecting as server is suspended.");
                        window.location.href = "/";
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        setInterval(checkServerState, 1000);
    });
    </script>
</head>
<body>
    <p id="countdown">A hoard of monkeys ran off to try to pull the plug on your virtual machine.</p><p> Please wait for the monkeys to return.</p>
    <iframe src="https://giphy.com/embed/3e4dH2A5eGdbO" width="480" height="356" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/3e4dH2A5eGdbO">via GIPHY</a></p>
</body>
</html>