<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Wait</title>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const name = "{{ name }}"; 
        function checkServerState() {
            fetch(`/status/${name}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Checking server state...");
                    if (data.state === "suspended") {
                        console.log("Redirecting as server is suspended.");
                        window.location.href = "/";
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        setInterval(checkServerState, 1000);
    });
    </script>
</head>
<body>
    <p id="countdown">A hoard of monkeys ran off to try to pull the plug on your virtual machine. Please wait for the monkeys to return and redirect your page back to the main index.</p>
</body>
</html>